
.has-js .version--two {
  /*---App: List--tab--panel ---*/
  [aria-hidden="true"] {
    @extend .visually-hidden;
    overflow: hidden;
  }
  [aria-hidden="false"] {
    height: auto;
    opacity: 1;
    visibility: visible;
  }
}


.version--two {
  /*--- Container [_content-layouts.scss] ---*/
  .section--pre_primary {
    padding-top: $base-spacing-unit-extra-large;
    margin-bottom: $base-spacing-unit-tiny;

    .right {
      max-width: 50%;

      .dropdown {
        background-color: transparent;
        margin-bottom: 0;
      }

      .dropdown__toggle a {
        display: block;
        text-align: right;

        padding: 0;
        margin-top: 0;
        margin-bottom: 18px;
        @include links(
          $grey-1, 			      // a:link colour
          none,				        // a:link decoration
          $grey-1, 		        // a:visited color
          $grey-1             // a:hover color
        );
        &:focus {
          text-decoration: underline;
          background-color: transparent;
          outline: none;
        }
        &:hover {
          text-decoration: underline;
        }
        &::before {
          content: "";
          position: absolute;
          border-top: 6px solid $grey-1;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          margin-left: -14px;
          top: calc(50% - 3px); // Vertical centering (50% of the parent div height - (arrow size / 2))
        }
      }

      .open .dropdown__toggle a {
        &::before {
          border-top: none;
          border-bottom: 6px solid $grey-1;
          border-left: 4px solid transparent;
          border-right: 4px solid transparent;
          top: calc(50% - 3px); // Vertical centering (50% of the parent div height - (arrow size / 2))
        }
      }
    }

    & + .section--primary {
      padding-top: 0;
    }

    a {
      text-decoration: none;
    }
  }

  .container--75 {
    width: 100%;

    @include media($desktop) {
      margin: 0 auto;
      width: 85%;
    }
  }

  .background--cover {
    img {
      display: block;
      height: 300px;
      object-fit: cover;
    }
  }


  /*--- Grid ---*/
  @mixin grid($columns, $width) {
    // padding: $base-spacing-unit;
    width: 100%;
    @include media($tablet) {
      width: calc(100% / #{$columns} * #{$width} - 5px);
    }
  }

  .grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    article {
      @include grid(12, 4);
      margin-bottom: $base-spacing-unit;
    }

    article.core {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;

      .feature--img {
        @include grid(12, 8);
        order: 2;
      }
      .content {
        @include grid(12, 4);
        order: 1;
      }
    }

  }


  /*--- Button [_buttons.scss] ---*/
  a.btn--primary--inverse,
  .btn--primary--inverse {
    background: transparent;
    border: none;
    // @include fontsize(16);
  }


  /*--- Typogrpahy [_typography.scss] ---*/
  .lead {
    margin-top: ($base-spacing-unit-medium - 4);
  }


  /*--- App Accent [_accents.scss] ---*/
  .block,
  .hero,
  .hint,
  [class*="hr--"],
  .status--banner,
  .status--highlight {
    &.accent--purple {
      @include accent($purple);
    }
    &.accent--commons {
      @include accent($commons);
    }
    &.accent--commons__dark {
      @include accent($commons--dark);
    }
    &.accent--grey-1 {
      @include accent($grey-1);
    }
    &.accent--grey-4 {
      @include accent($grey-4);
    }
    &.accent--lords {
      @include accent($lords);
    }
    &.accent--lords__dark {
      @include accent($lords--dark);
    }
  }


  /*--- Tab panel [_list-styles.scss] ---*/
  .list--tab__panel {
    @extend .list--tab;

    li span {
      @include fontsize(16);
      display: inline;
      font-weight: normal;
      padding: 0 0 0 $base-spacing-unit;
    }

    li[aria-selected="true"] {
      padding: ($base-spacing-unit + 2) 0;
      border-bottom: 4px solid $purple;

      a,
      a:focus,
      a:hover {
        background: none;
        color: $deep-purple;
        cursor: default;
        font-weight: 800;
        outline: none;
        padding: 0;
        text-decoration: none;
      }
    }
  }

  [data-component="tab_panel"] {
    article {
      @include grid(12, 9);
      @include media($tablet) {
        order: 2;
      }

      h2:first-child::before {
        content: none;
      }

      h2::before {
        @extend .line-break--lg;
        content: '';
        display: block;
        background-color: $grey-3;
      }


    }

    aside {
      @include grid(12, 3);
      margin-bottom: $base-spacing-unit;
      @include media($tablet) {
        order: 1;
      }

      nav {
        position: sticky;
        margin-top: $base-spacing-unit-extra-large; // same as h2
        top: $base-spacing-unit-extra-large;
        @include media($desktop) {
          margin-top: ($base-spacing-unit-extra-large + $base-spacing-unit); // same as h2
          top: ($base-spacing-unit-extra-large + $base-spacing-unit);
        }
      }
      nav a {
        text-decoration: none;
      }
    }
  }

  .list--toc {
    list-style-type: none;
    margin-left: 0;
    position: relative;

    li {
      line-height: 40px;
    }
  }


  /*--- Links ---*/
  .dropdown {
    margin-bottom: ($base-spacing-unit-large * 2);
  }

  .dropdown__toggle a {
    &:after {
      content: none;
    }

    span {
      position: absolute;
      right: $base-spacing-unit-large;
      font-weight: normal;

      &:after {
        content: "";
        position: absolute;
        border-top: 6px solid $grey-1;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        margin-left: 8px;
        top: calc(50% - 3px); // Vertical centering (50% of the parent div height - (arrow size / 2))
      }
    }
  }

  .open .dropdown__toggle a {
    span {
      &:after {
        border-top: none;
        border-bottom: 6px solid $grey-1;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        top: calc(50% - 3px); // Vertical centering (50% of the parent div height - (arrow size / 2))
      }
    }
  }


  /*--- Misc. ---*/
  nav.toc {
    a,
    a:link {
      text-decoration: none;
    }
  }

  [class*="hr--"] {
    &[class*="accent"] {
      border-top-style: solid;
      margin-top: $base-spacing-unit-tiny;
      padding-top: $base-spacing-unit-tiny;
    }
  }
  [class*="hr--thin"] {
    border-top-width: 1px;
  }
  [class*="hr--thick"] {
    border-top-width: $base-spacing-unit;
  }

  h2.related::before {
    @include line-break(1px, 100%);
    content: '';
    display: block;
    background-color: $grey-3;
  }

  article.full_width {
    width: 100%;
  }
  img.chart {
    display: block;
    height: auto;
    object-fit: cover;
  }

}