extends ../layouts/layout.pug

block content
  #content.hero.theme--white.accent--caution
    .container
      h1 Outputs
        span prototypes
      p Static HTML prototyping of Parliamentary web services by the Outputs team.

  section
    .container
      h2 Research briefings
      h3 Current version
      ul.list--bullet
        li #[+link('/templates/briefings-v1/debate.html', 'Debate scenario')]
        li #[+link('/templates/briefings-v1/medium.html', 'Medium scenario')]
        li #[+link('/templates/briefings-v1/long.html', 'Long scenario')]
