extends ../../layouts/layout_v5.pug

block content

  .container
    .article--wrapper
      article(tabindex=0)#content
        header
          h1 An introduction to airspace
          p.typography--heavy Airspace is the volume of space above ground level. It extends as far as planes can fly.

        div(role='main')
          p Airspace is the volume of space above ground level. It extends as far as planes can fly. UK airspace contains a network of corridors, or airways. These are usually ten miles wide and reach up to a height of 24,000 feet from a base of between 5,000 and 7,000 feet. Controlled airspace can go from ground level to 66,000 feet in some cases, and 'air routes' can have bases down to 3,500 ft.
          p In the UK airspace is either considered to be ‘controlled’ or ‘uncontrolled’. Air Traffic Control (ATC) manage air traffic control services. They oversee the airspace and track the separation of aircraft to keep them safe as they head towards their destinations.
          figure
            img(src='../../images/air_traffic_controller.jpg', alt='An example of an air traffic control tower at London Heathrow')
            figcaption An example of an air traffic control tower at London Heathrow.
          p A large volume of airspace in the UK is uncontrolled. This is where the pilot of the aircraft does not receive a service from the ground. The pilot has to “see and avoid” other aircraft and navigate independently. Most light aircraft and some military and commercial aircraft operate in this airspace. Arrangements for UK airspace follow internationally agreed safety and operational practices and requirements [1].
          h2 Flight paths
          p Within controlled airspace commercial aircraft fly within permanent airspace structures. These are set out in the UK Integrated Aeronautical Information Package (IAIP). They include departure and arrival routes.
          p A flight path is the actual or planned course of an aircraft. The government’s February 2017 consultation explains how aircraft follow flight paths over the course of a journey:
          blockquote
            p After take-off from the runway, aircraft will typically follow a pre- defined route up to a given altitude above ground level (usually 4,000 feet). The route is determined by the Standard Instrument Departure procedure (SID). This is a programme on the aircraft’s computer system. Next, the aircraft will be directed or ‘vectored’
            p … by air traffic controllers until they reach an airway. Airways are high-altitude routes which aircraft follow to their eventual destination.
            p During landing, aircraft leave their airway and enter a Standard Arrival Route (STAR). They may be ‘held’ in a stack until it is safe to bring them in for landing. Once it is safe, the aircraft are vectored with the assistance of air traffic control to safely approach the runway. For safety reasons, this closing stage requires aircraft to fly in a very straight line on their final approach. An Instrumental Landing System (‘ILS’), is often used to assist with this. It helps pilots to line up with the runway by providing vertical and horizontal guidance, even when they cannot physically see the runway.
            footer Department For Transport, UK airspace policy

          p Airspace is the volume of space above ground level. It extends as far as planes can fly. UK airspace contains a network of corridors, or airways. These are usually ten miles wide and reach up to a height of 24,000 feet from a base of between 5,000 and 7,000 feet. Controlled airspace can go from ground level to 66,000 feet in some cases, and 'air routes' can have bases down to 3,500 ft.
          p In the UK airspace is either considered to be ‘controlled’ or ‘uncontrolled’. Air Traffic Control (ATC) manage air traffic control services. They oversee the airspace and track the separation of aircraft to keep them safe as they head towards their destinations.
          p A large volume of airspace in the UK is uncontrolled. This is where the pilot of the aircraft does not receive a service from the ground. The pilot has to “see and avoid” other aircraft and navigate independently. Most light aircraft and some military and commercial aircraft operate in this airspace. Arrangements for UK airspace follow internationally agreed safety and operational practices and requirements [1].


      aside
        p Part of #[+link('#', 'Modernising UK airspace')]
        .block
          nav.navigation--related
            ul
              li.active
                | An introduction to airspace
              li
                +link('#', 'Airspace management')
              li
                +link('#', 'Airspace standards and regulation')
              li
                +link('#', 'Managing airspace change')
              li
                +link('#', 'Airspace modernisation')
              li
                +link('#', 'Policy progress and modernisation')

        ul.list--inline
          li
            .list--details
              include ../../icons/download.svg
              +link('#', 'Download as a PDF (1.2MB)')

  section
    .container
      .block--border__bottom
        .flex--2__2-1
          nav.navigation--article
            ul.list--2
              li
                a(href='#')
                  span.link-direction(aria-hidden='true') &lt; Previous
                  span.link-title Summary
              li
                a(href='#')
                  span.link-direction(aria-hidden='true') Next &gt;
                  span.link-title Who manages airspace?

        ul.list--inline
          li.visually-hidden(aria-hidden='true')
            .list--details
              include ../../icons/print.svg
              +link('#', 'Print this page').btn--print

  section
    .container
      .block--border__bottom
        .flex--2__2-1
          .footnotes
            h2 References
            ol
              li
                a(href='#ref1')
                  span Link text #1
                  include ../../icons/download.svg
                div
                  p Department for Transport
                  p UK airspace policy: a framework for balanced decisions on the design and use of
                  p 2nd February 2017
              li
                a(href='#ref2')
                  span Link text #2
                  include ../../icons/download.svg
                div
                  p IBID
              li
                a(href='#ref3')
                  span Link text #3
                  include ../../icons/download.svg
                div
                  p Published in the Manual of Air Traffic Services (MATS). Part 1 is standard to all ANSPs and published by the CAA. It is not location specific, and provides a general set of rules on vectoring for air traffic controllers; Part 2 is an internal document, specific to an individual ANSP (e.g. NATS) and gives location specific instructions; see: CAA, Manual of Air Traffic Services – Part 1, CAP 493, 6th ed., April 2015
              li
                a(href='#ref4')
                  span Link text #4 of a reall really long bit of text
                  include ../../icons/download.svg
                div
                  p Published in the Manual of Air Traffic Services (MATS). Part 1 is standard to all ANSPs and published by the CAA. It is not location specific, and provides a general set of rules on vectoring for air traffic controllers; Part 2 is an internal document, specific to an individual ANSP (e.g. NATS) and gives location specific instructions; see: CAA, Manual of Air Traffic Services – Part 1, CAP 493, 6th ed., April 2015

  section
    .container
      h2 Related topics
      a.btn--grey(href='#') Airspace
      a.btn--grey(href='#') Transport
      a.btn--grey(href='#') Infrastructure
      a.btn--grey(href='#') Aviation
      a.btn--grey(href='#') Technology
      a.btn--grey(href='#') Heathrow Expansion
      a.btn--grey(href='#') Travel
      a.btn--grey(href='#') Defense and aerospace industry
      a.btn--grey(href='#') European Union

  section
    .container
      .block.theme--commons
        p.beta House of Commons Library research CBP-7682
        p Written by Louise Butcher
