extends ../../layouts/layout_v5.pug

block navcrumb
  nav.navigation--breadcrumb(aria-label='breadcrumbs')
    .container
      ul
        li #[+link('#', 'Research')]
        li #[+link('/templates/briefings-v5/summary.html', 'Modernising UK airspace')]
        li.active
          span Policy progress and modernization

block content

  .container
    .flex--2__2-1
      header
        h1 Policy progress and modernization
    .article--wrapper
      article(tabindex=0)#content
        //- header
        //-   h1 Policy progress and modernization

        div(role='main')
          p
            | The debate to modernise the UK&rsquo;s airspace is not new. The Labour Government&rsquo;s 2003 aviation White Paper recognised the need for a:
          blockquote
            p
              | structured programme for the redesign of UK airspace that would help to protect safety standards and relieve current constraints.
              a#ref83(href='#fn83')
                span [83]
          p
            | The industry is concerned about the lack of progress in developing an &ldquo;Airspace Master Plan&rdquo;. A Transport Select Committee report (2008/9) on airspace acknowledges this and recommends:
          blockquote
            p
              | The CAA should present its framework recommendations for a Future Airspace Strategy (FAS) to the Department for Transport and the industry. This work should explain the nature of the FAS, the benefits to be achieved, how the strategy relates to airport development planning processes, and the impact of the strategy on the Airspace Change Process. It should describe the safeguards required to ensure that the FAS does not pre-empt the requirement for proper consultation on airspace change proposals.
              a#ref84(href='#fn84')
                span [84]
          h3#future-airspace-strategy-fas Future Airspace Strategy (FAS)
          p
            | The CAA published its Future Airspace Strategy in June 2011. It gives details of a programme to modernise airspace across the UK up to 2030.
            a#ref85(href='#fn85')
              span [85]
          p There is a move to restructure European airspace, add capacity, improve safety and increase the efficiency. This will happen through the #[+link('#', 'Single European Sky (SES)')] project.
          p
            | The UK and Ireland plans to meet the SES requirements through the FAS. The biggest changes in the UK are likely to be in the south east of England. Its airspace was designed over 40 years ago. London&rsquo;s five airports and smaller aerodromes create some of the world&rsquo;s busiest and most complex skies.
          p
            | The CAA produced FAS with the Department for Transport, Ministry of Defence and NATS. It aims to set up a &ldquo;safe, efficient airspace that has the capacity to meet reasonable demand, balances the needs of all users and mitigates the impact of aviation on the environment&rdquo;.
            a#ref86(href='#fn86')
              span [86]
          p FAS proposes four big changes to the UK&rsquo;s airspace:
          ol
            li
              | Making airspace simpler and more flexible. Move away from the current rigid structure of routes and different types of airspace. This would allow different users access to the same area of airspace as and when demand dictates. For example, during early morning and early evening an area of airspace may be given to commercial operations when they are busiest. At times of lower demand it could be made available to other users.
            li
              | Taking advantage of the latest technology. Increased accuracy and use of satellite navigation has led to advances in navigation. Direct data transfer rather than voice communications has let to better communication. This allows for increases in capacity and efficiency.
            li
              | Introduction of more flexible routes. This allows pilots and controllers to make more direct or flexible routes. They are able to do this through computer technology. It minimises delays and is more efficient as it reduces the amount of fuel burnt and the environmental impact.
            li
              | Sharing systems, technology and airspace across Europe. Removing national boundaries in the air allows a more seamless and efficient system. It removes systems that are incompatible and duplicated and procedures that change from country to country.
              a#ref87(href='#fn87')
                span [87]
          p
            | CAA says that the FAS is &ldquo;not a blueprint of an airspace design; more a shopping list of technologies and methods to be deployed&rdquo;.
            a#ref88(href='#fn88')
              span [88]
            | The upgrade to UK airspace is almost entirely funded by the aviation industry.
            a#ref89(href='#fn89')
              span [89]
          p Key to the success of FAS is:
          ul
            li
              | the upgrade of aircraft with Performance-Based Navigation (PBN)- compatible systems
              a#ref90(href='#fn90')
                span [90]
            li air traffic control providers introducing new airspace structures, and airlines
            li
              | airports sharing flight information into the &lsquo;system&rsquo;
              a#ref91(href='#fn91')
                span [91]
          p DfT says that FAS is based around five key upgrades:
          ol
            li
              | Removal of the fixed structures in the en-route airspace. This adds capacity and enabling more direct and free routes
            li
              | Redesign of the route network in busy terminal airspace. Taking account of advances in new technology, especially satellite navigation
            li
              | Stream traffic through speed controls in the en-route phase of flight. This improves arrival management and reduces reliance on stack holding in the terminal airspace
            li
              | Redesign airport arrival and departure routes at lower altitudes. This allows aircraft to climb and descend continuously and better manage the impacts of noise
            li
              | Connect airports into the network. This allows them to provide and receive accurate information about traffic flows. They can thus better manage ground delays and pinch points across the airspace.
              a#ref92(href='#fn92')
                span [92]
          p
            | The FAS Deployment Plan was published in December 2012. This considered the first phase of FAS implementation from 2013 to 2020. Aircraft operators, airports, ANSPs, the military and regulators developed the plan. This was done via the FAS Industry Implementation Group.
            a#ref93(href='#fn93')
              span [93]
            | The deployment plan set out &ldquo;confirmed and proposed investments drawn from the programme plans and strategic ambitions of the key organisations involved&rdquo;.
            a#ref94(href='#fn94')
              span [94]
          p
            | The FAS Coordination and Oversight function governs implementation of the FAS Deployment Plan. NATs and the CAA has led the function since January 2013. It has representation from airlines, airports, the DfT, MoD and Irish Aviation Authority. It manages the relationship between industry implementation and the policy and regulation.
            a#ref95(href='#fn95')
              span [95]
          h3#airspace-trials Airspace trials
          p
            | In recent years there have been airspace trials at airports across the south east. The trials included Heathrow, London City and Stansted as part of the London Airspace Management Programme (LAMP).
            a#ref96(href='#fn96')
              span [96]
          p
            | London City Airport was the first to be affected by LAMP in February 2016.
            a#ref97(href='#fn97')
              span [97]
            | Gatwick has also taken trials of standalone technology/procedure enablers. These include ADNID and routes 2&amp;4. Local residents found the latter to be controversial and the proposed changes were postponed.
          p
            | There was also a controversial trial at Edinburgh Airport at the end of 2015. Edinburgh was the first of Scottish airport to trial a new PBN route as part of the plans to modernise Scottish airspace.
          p
            | Every airspace change trial is different. Its aims, conduct, timing and outcomes are determined by the airport involved. The initial trial justification and its scope and objectives must be agreed with the CAA. Its consequent initiation plan must also be approved by the CAA. The sponsor must also complete a post-trial analysis and outputs report.
            a#ref98(href='#fn98')
              span [98]
            | For short-term, temporary changes (i.e. for trials of 90 days or less), consultation is not always needed. The change sponsor, in this case, should agree with the CAA the actual level of engagement.
            a#ref99(href='#fn99')
              span [99]
          h3#airspace-modernisation-consultation-outcome-2017 Airspace modernisation consultation &amp; outcome 2017
          p
            | In February 2017 the Department of Transport published a consultation on UK airspace policy reform. In the House of Commons the same day the Transport Secretary, Chris Grayling, said:
          blockquote
            p
              | I am publishing proposals to modernise the way UK airspace is managed, which will be consulted on in parallel [with the consultation on a draft National Policy Statement for Heathrow expansion]. By taking steps now to future-proof this vital infrastructure, we can harness the latest technology to make airspace more efficient as well as making journeys faster and more environmentally friendly. The policy principles set out in this airspace consultation will influence decisions taken later in the planning process for a north-west runway at Heathrow. It is therefore sensible to allow members of the public to express views on both these issues at the same time.
            p
              | The consultation will set out our plans to establish an independent commission on civil aviation noise and bring forward proposals to improve how communities can engage and make sure their voices are heard. To complement this, we are proposing guidance on how noise impacts should be assessed and used to inform decisions on airspace options. These proposals aim to strike a balance between the economic benefits of a thriving aviation sector and its impacts on local communities and the environment.
              a#ref100(href='#fn100')
                span [100]
          p
            | This followed pressure on the Government from the community. It pushed to prevent airspace changes happening without consulting or compensating those affected.
          p
            | The Government&rsquo;s intent with the consultation was to bring forward many benefits:
          ul
            li Greater clarity and transparency in decision making and the management of noise
            li
              | Improvements in the evidence used to inform airspace decisions particularly the noise impacts
            li
              | Find ways for industry and communities working together to manage noise which work best for local circumstances
            li Clarity and consistency in who makes airspace decisions, and why
            li
              | Make sure that the airspace change framework provides what industry needs to deliver change
            li
              | Noise management outside of airspace change which takes advantage of the latest technology
              a#ref101(href='#fn101')
                span [101]
          h4#the-main-proposals-in-the-2017-consultation The main proposals in the 2017 consultation
          ul
            li
              | Establishing an Independent Commission on Civil Aviation Noise. This is to make sure noise impacts are properly and transparently considered
            li
              | Providing industry with ways to assess noise impacts and choose between route options. This will help them manage change better
            li
              | Bringing compensation policy for airspace changes in line with policy on changes to aviation infrastructure
            li
              | Offering greater flexibility to three of London&rsquo;s major airports. This will allow them to adapt their noise management to the needs of their local communities. This is already in place at other airports across the UK already can
              a#ref102(href='#fn102')
                span [102]
          h4#main-changes-from-the-2017-consultation
            | Main changes from the 2017 consultation
            a#ref103(href='#fn103')
              span [103]
          p
            | New call-in role for the Secretary of State for permanent structural (Tier 1) changes to airspace. This would be only for airspace changes deemed to be of national importance.
            a#ref104(href='#fn104')
              span [104]
            | The power would be at the SofS&rsquo;s discretion. The only environmental trigger would be the likely noise impact on local communities. Environmental factors other than noise may be important to an airspace proposal. These would only be a factor in a call-in decision if their impact was expected to be as significant.
            a#ref105(href='#fn105')
              span [105]
          h4#compensation---four-main-changes-to-current-policy Compensation - four main changes to current policy
          ol
            li
              | Change the policy wording to remove the word &lsquo;development&rsquo; in terms of when financial assistance towards insulation is expected so that compensation is applicable regardless of the type of change (infrastructure or airspace change)
            li
              | Change the policy wording to allow for financial assistance towards insulation in the 63dB LAeq level or above. This should be applicable regardless of the level of change that causes a property to be in that noise contour level. So to remove the requirement for a minimum 3dB change.
            li
              | Inclusion of additional wording in the policy to encourage an airspace change promoter to consider compensation for significantly increased overflight as a result of the change based on appropriate metrics, which could be decided upon according to the local circumstances and economics of the change proposal
            li
              | To pay insulation for homes within the 69dB LAeq or more contour, where the home owners do not want to move.
              a#ref106(href='#fn106')
                span [106]
          p
            | The purpose of these changes was to include airspace changes into the current compensation policy:
          blockquote
            p
              | &quot;so that compensation policy would be the same for all changes which affect noise impacts regardless of whether they are a result of infrastructure change or a tier 1 or 2 airspace change overseen by the CAA&rdquo;.
          p
            | It also included some refinements to existing policy with the aim of &ldquo;making it fairer to those impacted by higher noise levels&rdquo;.
            a#ref107(href='#fn107')
              span [107]
          h4#transparent-airspace-change-proposals Transparent airspace change proposals
          p
            | It stated that options analysis should be carried out as part of change processes for airspace. This options analysis would:
          blockquote
            p
              | &quot;&mldr; allow communities to understand the options which have been considered, and the evidence that has informed a decision, including on whether single or multiple routes are appropriate in the circumstances. It would bring the appraisal of airspace changes in line with those for Government decisions on transport investment, including airport infrastructure. Options analysis will demonstrate an objective approach, and thereby ensure that the needs of different groups have been treated equally. This is particularly important when some groups are more able to engage with the change process than others. For example, when communities from different socio-economic groups or backgrounds are affected by an airspace change, some groups may have more time and ability to feed in their views than others.&quot;
              a#ref108(href='#fn108')
                span [108]
          h4#adverse-effects-of-aviation-noise-proposals Adverse effects of aviation noise proposals
          p
            | The consultation states that Government policy &ldquo;should be interpreted to mean that the number of people experiencing adverse effects as a result of aviation noise should be limited and, where possible, reduced.&rdquo;
            a#ref109(href='#fn109')
              span [109]
            | Adverse effects were considered to be those related to health and quality of life.
          h4#operating-restrictions-proposals Operating restrictions proposals
          p
            | It proposed two different routes for decisions within the planning process. It makes SofS the authority for Nationally Significant Infrastructure Projects (NSIPs) in England and Wales. This copies how it works elsewhere.
            a#ref110(href='#fn110')
              span [110]
            | It did not speak of arrangements in Scotland and Northern Ireland where this is a devolved issue.
          p
            | It proposed that noise controls and management of NPRs should be devolved to the airports themselves. It excludes operating restrictions at Heathrow, Gatwick and Stansted.
            a#ref111(href='#fn111')
              span [111]
            | The paper argued that this would &ldquo;allow the designated airports to manage noise in the way that best reflects the issues faced by their communities&rdquo;.
            a#ref112(href='#fn112')
              span [112]
          p The consultation closed on 25 May. On 24 October 2017 the Government published:
          ul
            li
              | its updated Air Navigation Guidance 2017
              a#ref113(href='#fn113')
                span [113]
            li
              | the response to the consultation setting out how the Government intends to proceed
            li
              | a summary of responses to the consultation
              a#ref114(href='#fn114')
                span [114]
            li
              | a series of impact assessments
              a#ref115(href='#fn115')
                span [115]
          p
            | The consultation response and policy document said that it would put in place all the key policy changes set out in the consultation. There were two notable exceptions:
          ol
            li
              | It will not transfer responsibility for noise controls to Heathrow, Gatwick and Stansted
            li
              | It will not introduce a &lsquo;tier&rsquo; system to describe airspace change. It will instead use the terms:
            li &lsquo;airspace change&rsquo;
            li &lsquo;permanent and planned redistribution of air traffic&rsquo;
            li
              | &lsquo;aircraft operational changes to airspace usage&rsquo; to describe the three categories of change (&lsquo;airspace change&rsquo; being the most serious).
              a#ref116(href='#fn116')
                span [116]


      aside
        p Part of #[+link('/templates/briefings-v5/summary.html', 'Modernising UK airspace')]
        .block
          nav.navigation--related
            ul
              li
                +link('/templates/briefings-v5/section.1.html', 'An introduction to airspace')
              li
                +link('/templates/briefings-v5/section.2.html', 'Airspace management')
              li
                +link('/templates/briefings-v5/section.3.html', 'Airspace standards and regulation')
              li
                +link('/templates/briefings-v5/section.4.html', 'Planning airspace change')
              li
                +link('/templates/briefings-v5/section.5.html', 'Airspace modernisation')
              li.active
                | Policy progress and modernisation

  div
    .container
      .block--border__bottom
        .flex--2__2-1
          nav.navigation--article
            ul.list--2
              li
                a(href='/templates/briefings-v5/section.5.html')
                  span.link-direction(aria-hidden='true') &lt; Previous
                  span.link-title Airspace modernisation

        ul.list--inline
          li.visually-hidden(aria-hidden='true')
            .list--details
              include ../../icons/print.svg
              +link('#', 'Print this page').btn--print

  section
    .container
      .block--border__bottom
        .flex--2__2-1
          .footnotes
            h2 References
            ol
              li#fn83
                a(href='#ref83')
                  span linkText
                  span 83
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | DfT,
                    em
                      span The Future of Air Transport
                    | , Cm 6046, December 2003, para 12.26
              li#fn84
                a(href='#ref84')
                  span linkText
                  span 84
                  include ../../icons/download.svg
                div.reference--text
                  p Transport Select Committee, #[+link('https://www.publications.parliament.uk/pa/cm200809/cmselect/cmtran/163/163.pdf', 'The use of air space')] (Fifth Report of Session 2008&ndash;09), HC 163, 10 July 2009, para 35
              li#fn85
                a(href='#ref85')
                  span linkText
                  span 85
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | CAA,
                    em
                      span Future Airspace Strategy for the United Kingdom 2011 to 2030
                    | , 30 June 2011
              li#fn86
                a(href='#ref86')
                  span linkText
                  span 86
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid., p8
              li#fn87
                a(href='#ref87')
                  span linkText
                  span 87
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Op cit.,
                    em
                      span Future Airspace Strategy, in focus briefing
                    | , pp2-3
              li#fn88
                a(href='#ref88')
                  span linkText
                  span 88
                  include ../../icons/download.svg
                div.reference--text
                  p CAA, #[+link('http://www2.westsussex.gov.uk/ds/cttee/gat/gat140716i15a.pdf', 'Future Airspace Strategy: Overview')], 6 July 2016, slide 6
              li#fn89
                a(href='#ref89')
                  span linkText
                  span 89
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/586871/upgrading-uk-airspace-strategic-rationale.pdf', 'Upgrading UK Airspace: Strategic Rationale')], para 1.20
              li#fn90
                a(href='#ref90')
                  span linkText
                  span 90
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | A route system using PBN standards allows more flexible positioning of routes and enables aircraft to fly them more accurately. This helps improve operational performance in terms of safety and capacity, and also offers the flexibility to attempt to design routes to mitigate the environmental impact of aviation, for more information see: CAA,
                    em
                      span Airspace Design Guidance: Noise mitigation considerations
                      span when designing PBN departure and arrival procedures
                    | , CAP 1378, March 2016
              li#fn91
                a(href='#ref91')
                  span linkText
                  span 91
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | CAA,
                    span
                      em  In Focus: Updating the UK&rsquo;s airspace - The Future Airspace Strategy (FAS)
                    | , November 2012, p2
              li#fn92
                a(href='#ref92')
                  span linkText
                  span 92
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/586871/upgrading-uk-airspace-strategic-rationale.pdf', 'Upgrading UK Airspace: Strategic Rationale')], para 1.23
              li#fn93
                a(href='#ref93')
                  span linkText
                  span 93
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | The group was formed in 2011 following publication of the FAS to link major airspace programmes and industry investment plans
              li#fn94
                a(href='#ref94')
                  span linkText
                  span 94
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Op cit.,
                    em
                      span Future Airspace Strategy: Deployment Plan
                    | , p4
              li#fn95
                a(href='#ref95')
                  span linkText
                  span 95
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid., para 116
              li#fn96
                a(href='#ref96')
                  span linkText
                  span 96
                  include ../../icons/download.svg
                div.reference--text
                  p All the documentation relating to the London Airspace Consultation, about the implementation of LAMP can be found on the #[+link('http://www.londonairspaceconsultation.co.uk/', 'dedicated website')] accessed 29 March 2017]
              li#fn97
                a(href='#ref97')
                  span linkText
                  span 97
                  include ../../icons/download.svg
                div.reference--text
                  p NATS press notice, &ldquo; #[+link('http://www.nats.aero/news/newsbrief/janfeb-2016/lamp-phase-1a-airspace-change-now-live/', 'LAMP Phase 1a airspace change now live')] &rdquo;, 4 February 2016
              li#fn98
                a(href='#ref98')
                  span linkText
                  span 98
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | For full details see: CAA,
                    em
                      span Policy for the Conduct of Operational Airspace Trials
                    | , 3 June 2015
              li#fn99
                a(href='#ref99')
                  span linkText
                  span 99
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Op cit.,
                    em
                      span Guidance to the Civil Aviation Authority on environmental objectives relating
                      span to the exercise of its air navigation functions
                    | , paras 9.10-9.11
              li#fn100
                a(href='#ref100')
                  span linkText
                  span 100
                  include ../../icons/download.svg
                div.reference--text
                  p #[+link('https://hansard.parliament.uk/commons/2017-02-02/debates/35730F10-B97C-480B-B3B2-729D5D408BAC/AirportCapacityAndAirspacePolicy', 'HC Deb 2 February 2017, cc1182-3')]
              li#fn101
                a(href='#ref101')
                  span linkText
                  span 101
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/588186/uk-airspace-policy-a-framework-for-balanced-decisions-on-the-design-and-use-of-airspace-web-version.pdf', 'UK airspace policy: a framework for balanced decisions on the design and use of airspace')], para 1.14
              li#fn102
                a(href='#ref102')
                  span linkText
                  span 102
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid., para 1.19
              li#fn103
                a(href='#ref103')
                  span linkText
                  span 103
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | This list only includes those changes likely to be of most interest to MPs or are of the most significance. It also excludes the proposed Independent Commission on Civil Aviation Noise as this is dealt with in some detail in HC Library briefing paper #[+link('http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN00261', 'SN261')]
              li#fn104
                a(href='#ref104')
                  span linkText
                  span 104
                  include ../../icons/download.svg
                div.reference--text
                  p Mirroring in existing powers for land-based planning applications; for more information see HC Library briefing paper #[+link('http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN00930', 'SN930')]
              li#fn105
                a(href='#ref105')
                  span linkText
                  span 105
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/588186/uk-airspace-policy-a-framework-for-balanced-decisions-on-the-design-and-use-of-airspace-web-version.pdf', 'UK airspace policy: a framework for balanced decisions on the design and use of airspace')], aras 4.22-4.30
              li#fn106
                a(href='#ref106')
                  span linkText
                  span 106
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid., para 4.45
              li#fn107
                a(href='#ref107')
                  span linkText
                  span 107
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid., para 4.44; more detail is given in paras 4.46-4.50
              li#fn108
                a(href='#ref108')
                  span linkText
                  span 108
                  include ../../icons/download.svg
                div.reference--text
                  p Ibid., para 5.19; more detail on options analysis is given in section 3 of the updated draft guidance published alongside the consultation: DfT, #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/587669/air-navigation-guidance-on-airspace-and-noise-management-and-environmental-objectives.pdf', 'Air Navigation Guidance: Guidance on airspace &amp; noise management and environmental objectives')], 2 February 2017
              li#fn109
                a(href='#ref109')
                  span linkText
                  span 109
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid., para 5.48, see also paras 5.49-5.53
              li#fn110
                a(href='#ref110')
                  span linkText
                  span 110
                  include ../../icons/download.svg
                div.reference--text
                  p Ibid., paras 7.23-7.24; more information on NSIPs can be found in HC Library briefing paper #[+link('http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN06881', 'SN6881')]
              li#fn111
                a(href='#ref111')
                  span linkText
                  span 111
                  include ../../icons/download.svg
                div.reference--text
                  p For more information on the night flight regimes at these airports see HC Library briefing paper #[+link('http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN01252', 'SN1252')]
              li#fn112
                a(href='#ref112')
                  span linkText
                  span 112
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/588186/uk-airspace-policy-a-framework-for-balanced-decisions-on-the-design-and-use-of-airspace-web-version.pdf', 'UK airspace policy: a framework for balanced decisions on the design and use of airspace')], paras 7.31-7.37
              li#fn113
                a(href='#ref113')
                  span linkText
                  span 113
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | See also section 4.3, above
              li#fn114
                a(href='#ref114')
                  span linkText
                  span 114
                  include ../../icons/download.svg
                div.reference--text
                  p OPM Group for DfT, #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/653803/summary-of-responses-to-the-consultation-on-uk-airspace-policy.PDF', 'Consultation on UK Airspace Policy: A framework for balanced decisions on the design and use of airspace: Summary report of consultation feedback')], 1 October 2017
              li#fn115
                a(href='#ref115')
                  span linkText
                  span 115
                  include ../../icons/download.svg
                div.reference--text
                  p DfT, #[+link('https://www.gov.uk/government/publications/uk-airspace-policy-reform-impact-assessments', 'UK airspace policy reform impact assessments')], 24 October 2017
              li#fn116
                a(href='#ref116')
                  span linkText
                  span 116
                  include ../../icons/download.svg
                div.reference--text
                  p DfT, #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/653801/consultation-response-on-uk-airspace-policy-web-version.pdf', 'Consultation Response on UK Airspace Policy: A framework for balanced decisions on the design and use of airspace')], Cm 9520, 24 October 2017, pp7 &amp; 9


  section
    .container
      h2 Related topics
      a.btn--grey(href='#') Airspace
      a.btn--grey(href='#') Transport
      a.btn--grey(href='#') Infrastructure
      a.btn--grey(href='#') Aviation
      a.btn--grey(href='#') Technology
      a.btn--grey(href='#') Heathrow Expansion
      a.btn--grey(href='#') Travel
      a.btn--grey(href='#') Defense and aerospace industry
      a.btn--grey(href='#') European Union

  section
    .container
      .block.theme--commons
        h2.beta House of Commons Library research CBP-7682
        p Written by Louise Butcher
