extends ../../layouts/layout_v5.pug

block navcrumb
  nav.navigation--breadcrumb(aria-label='breadcrumbs')
    .container
      ul
        li #[+link('#', 'Research')]
        li #[+link('/templates/briefings-v5/summary.html', 'Modernising UK airspace')]
        li.active
          span Planning airspace change

block content

  .container
    .flex--2__2-1
      header
        h1 Planning airspace change
    .article--wrapper
      article(tabindex=0)#content
        //- header
        //-   h1 Planning airspace change

        div(role='main')
          p Airspace change &ndash; whether temporary or permanent &ndash; can have unwelcome impacts for local communities. There have been concerns about airports consulting those affected by change. Or that the change process itself has not been properly explained.
          p Changes to airspace design occur for varying reasons. Improvements to flight efficiency, to reduce delays or to allow an increase in flights due to airport expansion. Airspace changes can be modest. Amendments to upper airspace routes, for example, that affect only a small number of stakeholders. Or they can be major. Such as changes in low-level airspace that impact a large number of people. Formal airspace changes occur via the CAA but may be planned ahead of a new development.
          p If new airspace arrangements are needed, the planning process can serve as a precursor to the airspace change process. Final decisions on the structure of the UK&rsquo;s airspace and detailed route design go through the CAA&rsquo;s Airspace Change Process. The planning process can consider indicative routes and their potential impacts.
            a#ref41(href='#fn41')
              span [41]
          p For example:
          p &mldr;in developing its application for a Development Consent Order (DCO) for its proposed new runway, Heathrow Airport Limited is expected to use indicative airspace arrangements, which will be considered and decided upon by the Secretary of State. Any subsequent consideration of the airspace arrangements for a new runway by the Secretary of State would not revisit what was agreed at the DCO stage, but would examine the further detail that had been developed in light of the planning agreement.
            a#ref42(href='#fn42')
              span [42]

          h3#the-caa-and-the-airspace-change-process The CAA and the airspace change process
          p An &lsquo;airspace change&rsquo; is defined as &ldquo;a change to the notified airspace arrangements in the UK AIP&rdquo;.
            a#ref43(href='#fn43')
              span [43]
            | As the CAA explains, it is normally characterised by one or more of a number of conditions:
          ul
            li Changes to the ICAO airspace classification either through the creation of a higher classification than currently exists, or in some cases through the removal of existing controlled airspace of Classes A, C, D1 or E
              a#ref44(href='#fn44')
                span [44]
            li Changes to the lateral or vertical dimensions of existing Controlled Airspace
            li The introduction of, or changes to, Standard Instrument Departure routes (SIDs),
              a#ref45(href='#fn45')
                span [45]
              | Standard Arrival Routes (STARs)
              a#ref46(href='#fn46')
                span [46]
              | or Noise Preferential Routes (NPRs)
              a#ref47(href='#fn47')
                span [47]
              | within controlled airspace. Standard Departure Routes (SDRs)
              a#ref48(href='#fn48')
                span [48]
              | and NPRs where they exist outside controlled airspace are not covered by this Process. However, CAA &ldquo;strongly recommend[s]&rdquo; that aerodrome operators adopt the same principles when considering the need for new or amended SDRs and NPRs under these circumstances
            li Introduction of, or significant changes to existing, Holding Patterns
              a#ref49(href='#fn49')
                span [49]
            li Changes to Area Control Centre (ACC) arrangements resulting in modifications to the existing published ATS route structure. Changes to ACC sector boundaries that have no additional environmental impact over that currently experienced are not normally subject to the Airspace Change Process, unless one of the characteristics described here occurs as a direct consequence of the revised arrangements
            li Delegation of ATS to an adjacent State
            li Changes to the lateral or vertical dimensions of Danger Areas, Restricted or Prohibited Airspace, Temporary Reserved Areas or significant changes in their operational use, other than emergency situations or matters of National Security
            li Changes to existing published terminal patterns and procedures where the net effect results in changes to the lateral dispersion or lowering in altitude of traffic within #[+link('https://www.caa.co.uk/Consumers/Guide-to-aviation/Airspace/How-is-UK-airspace-structured-/', 'controlled airspace')]
            li Significant changes to the hours of operation of existing airspace structures.
              a#ref50(href='#fn50')
                span [50]
          p Anybody can start and sponsor an airspace change. Sponsors are mainly:
          ul
            li aerodrome operators
            li the Air Navigation Service Provider (ANSP) or a combination of the two)
            li or the regulator (the CAA)
          p The CAA&rsquo;s role in airspace change is set out in the guidance. It states that it:
          ul
            li Owns and manages the Airspace Change Process
            li Provides guidance to a sponsor on the application of the Process. It helps in fulfilling the operational, environmental and consultation requirements. It does not to help a sponsor in developing the airspace designs of a formal proposal for submission to the CAA
            li assesses a sponsor&rsquo;s formal proposal against the regulatory requirements
            li approves or rejects the sponsor&rsquo;s formal proposal. If the proposal is a &lsquo;significant environmental disbenefit&rsquo; it refers it to the Secretary of State for Transport
            li must be accountable for the regulatory decision-making
            li fulfil its duties and meets the Direction from the Secretaries of State for Transport and Defence for the interest of airspace users
              a#ref51(href='#fn51')
                span [51]

          h3#old-airspace-change-process-up-to-january-2018 Old airspace change process up to January 2018
          p A new airspace change process took effect on 2 January 2018. There are still many applications processed through the old CAP 725 process. The CAA&rsquo;s CAP 725 document, Guidance on the Application of the Airspace Change Process
            a#ref52(href='#fn52')
              span [52]
            | , explains this.
          p A list of applications processed through the old CAP 725 process is on the CAA website. These include proposals for Doncaster-Sheffield, Southend, Birmingham, Belfast and Farnborough.
          h4#consultation-requirements Consultation requirements
          p There are seven stages to the Process. CAP 725 states that consultation should form part of stages 2, 3 and 4 (Proposal Development, Preparing for Consultation, and Consultation and Formal Proposal Submission). The actions of the change sponsor should be to:
          ul
            li identify stakeholders/consultees and messages
            li identify the most appropriate method of reaching stakeholders (e.g. workshops, pamphlets, open days)
            li further develop stakeholder/consultee List and consultation plan
            li
              | share their airspace design option(s), consultation list and consultation plan with a focus group and seek for feedback
            li cover the need for and the merits of their design option(s) with the group
            li develop solutions to the anticipated issues arise from the consultation exercise
            li be clear what the design option(s) are, who may be affected and how
            li
              | decide the most appropriate consultation method needed to reach all the consultees;
              a#ref53(href='#fn53')
                span [53]
            li
              | develop consultation material that keeps to the criteria
              a#ref54(href='#fn54')
                span [54]
              | and coordinate the varied events and methods
            li
              | seek endorsement from CAA that the consultation material and method are satisfactory
            li
              | consult and allow 12 weeks for written consultation during at least one development of the design. Within this timeframe, the sponsor could run alternative consultation events. It must send a copy of all consultation material to the CAA at the time of distribution
            li
              | submit the &lsquo;record of consultation&rsquo; (all receipts, responses, etc.) as part of the Airspace Change Proposal
            li
              | assess the need to change the design to take account of responses from the consultation exercise
            li
              | publish feedback to consultees. This should include its decision on the option selected before submitting a formal Airspace Change Proposal to the CAA.
              a#ref55(href='#fn55')
                span [55]
          h3#new-airspace-change-process-from-january-2018 New airspace change process from January 2018
          p
            | A new airspace change process took effect on 2 January 2018. It is explained in detail in the CAA&rsquo;s CAP 1616 document #[+link('https://publicapps.caa.co.uk/docs/33/CAP1616%2520Airspace%2520Design%2520interactive.pdf', 'Airspace Design: Guidance on the regulatory process for changing airspace design including community engagement requirements')].
          p The #[+link('http://www.caa.co.uk/Commercial-industry/Airspace/Airspace-change/Permanent-airspace-change-proposals-under-the-new-process/', 'CAA website')] contains a list of applications processed through #[+link('https://publicapps.caa.co.uk/docs/33/CAP1616%2520Airspace%2520Design%2520interactive.pdf#page%253D141', 'CAP 1616')]. These include proposals affecting Heathrow, Luton and Liverpool.
          p
            | The CAA launched a review of its process for airspace change in 2016. This followed a 2015 independent study of the process. The study by Helios concluded that the existing process was &ldquo;under strain and could be improved&rdquo;.
            a#ref56(href='#fn56')
              span [56]
            | It proposed changes including:
          ul
            li greater transparency
            li
              | further stages to be included in the process and tighter control of the process by CAA
            li an Airspace Change Process Oversight Committee for the most significant changes
            li an appeal mechanism
            li
              | an airspace change portal to hold information on the status of all ongoing.
              a#ref57(href='#fn57')
                span [57]
          p
            | The CAA then consulted on changes in the spring of 2016 to reform the seven-stage process in line with Helios&rsquo; recommendations.
            a#ref58(href='#fn58')
              span [58]
            | In October 2016 the CAA published the outcome of the consultation and its response. It said that it intended to make some changes by the summer of 2017. It went to say that it would not take forward other of Helios&rsquo; recommendations. Most notably an oversight committee and a formal appeal against a CAA decision.
            a#ref59(href='#fn59')
              span [59]
            | It also stated that it would write detailed guidance about how the process would work in practice and publicly consult on that guidance before introducing the process.
            a#ref60(href='#fn60')
              span [60]
            | The CAA published the for consultation on 31 March 2017. They published the outcome on 13 December.
            a#ref61(href='#fn61')
              span [61]
          p #[+link('https://publicapps.caa.co.uk/docs/33/CAP1616%2520Airspace%2520Design%2520interactive.pdf#page%253D141', 'CAP 1616')] was published in December. It came into effect from 2 January 2018.
            a#ref62(href='#fn62')
              span [62]
            | It should be read in the context of the #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/653978/air-navigation-guidance-2017.pdf', 'Air Navigation Guidance 2017')].

          h4#air-navigation-guidance-2017 Air Navigation Guidance 2017
          p
            | Department of Transport guidance to the CAA and the industry. It includes guidance to the CAA on its environmental goals relating to air navigation. It also provides guidance to the CAA and wider industry on airspace and noise management. It includes:
          ul
            li
              | requirements to provide information which explains retrospective aircraft operational changes
            li expectations to make information available relating to aircraft movements
          p
            | The Government requires the CAA to prepare and publish guidance. This is to help industry meet government expectations about community engagement. This guidance (under the heading &lsquo;airspace information&rsquo;) forms part of #[+link('https://publicapps.caa.co.uk/docs/33/CAP1616%2520Airspace%2520Design%2520interactive.pdf', 'CAP 1616')].
            a#ref63(href='#fn63')
              span [63]
          h4#cap-1616-consultation-requirements CAP 1616 consultation requirements
          p
            | There are seven stages to the Process, as set out in CAP 1616. It states that consultation should form a key part of stages 1, 2 and 3 (Design, Develop and Assess, and Consult). This is critical for those affected, likely to be, or unsure whether they would be affected by airspace change. The actions of the change sponsor during stages (or &lsquo;gateways&rsquo;) 1 and 2 should be as follows:
          ul
            li
              | At the &lsquo;Define&rsquo; gateway, the change sponsor needs to provide evidence to the CAA that conversations led to the design principles being set. This must include:
              ul
                li
                  | evidence of the engagement activity. This will include records and minutes of workshops and meetings. It will list those present and the context and nature of the discussion. It must cover the range of stakeholders who may be affected by the change. Sponsors must show that they provided enough information for stakeholders. This must help them to understand airspace design and enable them to play a part in the development.
                li
                  | what happened as a result of that activity. Sponsors must show where stakeholders agreed the principles applied. Also which principles they did not agree to, who disagreed and their reasons. The change sponsor&rsquo;s reasons for a decision in light of the feedback need to be set out.
            li
              | The &lsquo;Develop and assess&rsquo; gateway lists effected audiences in the Initial options appraisal. This is important for the consultation strategy during the &lsquo;Consult&rsquo; gateway (step 3A).
              a#ref64(href='#fn64')
                span [64]
            li
              | Stage 3 is the key &lsquo;gateway&rsquo; for consultation. This consists of four separate steps:
              ul
                li 3A: consultation preparation
                li 3B: consultation approval
                li 3C: start consultation
                li 3D: Collate and review responses.
              | The CAA needs to accept the change sponsor&apos;s consultation strategy for the &apos;Consult&apos; gateway to pass. This means that all consultation materials are ready and available.
              a#ref65(href='#fn65')
                span [65]
            li
              | Stage 5 (Decide) looks at the public evidence session for Level 1 airspace changes. That is a change that will alter traffic patterns below 7,000 feet. Sponsors must prove clear consideration of noise impacts. CAP 1616 states:
              ul
                li
                  p For the CAA, the public evidence session is an important part of stakeholder engagement. The change sponsor publishes the final proposal. The CAA then gives at least four weeks&apos; notice to stakeholders of the Public Evidence Session. In giving evidence, attendees must speak themselves without formality or legal representation. This reinforces the information-receiving nature of the session.
                  p Using the #[+link('http://www.caa.co.uk/Commercial-industry/Airspace/Airspace-change/Airspace-Change/', 'portal')], attendees book five- minute speaking slots. This is on a first-come, first-served basis. They present their views on the airspace change proposal to the CAA decision-maker. Representative groups will be able to book 10-minute slots. Attendees will not have the opportunity to challenge what other speakers say. Following the Public Evidence Session, the CAA will publish a transcript. Representative groups will be able to book 10-minute slots. Attendees will not have the opportunity to challenge what other speakers say. Following the Public Evidence Session, the CAA will publish a transcript.
                  p
                    | A sponsor does not attend the session as it is for third parties to speak to the decision-maker. The change sponsor may still attend although it cannot argue its case. It can only offer clarification if asked by the Chair.
                    a#ref66(href='#fn66')
                      span [66]
          h4#transition-arrangements-from-cap-725 Transition arrangements from CAP 725
          p
            | From 2 January new airspace change applications use the new process, CAP 1616. Some applications, however, are still processed under CAP 725. The CAA provides clarity for applications crossing the 2 January 2018 dividing line:
          ul
            li
              | if a proposal has not yet started when the new process takes effect it will use the new process. A proposal that has not started corresponds to Stage 1 and 2, and Steps 3A/B or Stage 3
            li
              | the CAA will not mandate elements of the new process if a proposal has already reached Step 3C in the new process
          blockquote
            p
              | Sponsors need to show the CAA that they acknowledge the new process if an airspace change proposal started before the new CAA process. The CAA does not need sponsors to follow the new process if they started Stage 4 (under CAP 725) consultation before 2 January 2018.
            p
              | The CAA will consider requests for flexibility if the change sponsor is between the old and new process.
              a#ref67(href='#fn67')
                span [67]
            p
              | The Air Navigation Guidance 2017 sets out the Government&rsquo;s transition arrangements:
            p
              | The airspace change arrangements apply to change proposals that have been consulted on at the time of publication of the guidance. Sponsors of such proposals are encouraged to follow the new arrangements where possible.
            p
              | The CAA should consult the SofS if there is a doubt about whether the Air Navigation Guidance 2017 applies to an airspace change proposal.
              a#ref68(href='#fn68')
                span [68]


      aside
        p Part of #[+link('/templates/briefings-v5/summary.html', 'Modernising UK airspace')]
        .block
          nav.navigation--related
            ul
              li
                +link('/templates/briefings-v5/section.1.html', 'An introduction to airspace')
              li
                +link('/templates/briefings-v5/section.2.html', 'Airspace management')
              li
                +link('/templates/briefings-v5/section.3.html', 'Airspace standards and regulation')
              li.active
                | Planning airspace change
              li
                +link('/templates/briefings-v5/section.5.html', 'Airspace modernisation')
              li
                +link('/templates/briefings-v5/section.6.html', 'Policy progress and modernisation')

  div
    .container
      .block--border__bottom
        .flex--2__2-1
          nav.navigation--article
            ul.list--2
              li
                a(href='/templates/briefings-v5/section.3.html')
                  span.link-direction(aria-hidden='true') &lt; Previous
                  span.link-title Airspace standards and regulation
              li
                a(href='/templates/briefings-v5/section.5.html')
                  span.link-direction(aria-hidden='true') Next &gt;
                  span.link-title Airspace modernisation

        ul.list--inline
          li.visually-hidden(aria-hidden='true')
            .list--details
              include ../../icons/print.svg
              +link('#', 'Print this page').btn--print

  section
    .container
      .block--border__bottom
        .flex--2__2-1
          .footnotes
            h2 References
            ol
              li#fn41
                a(href='#ref41')
                  span linkText
                  span 41
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/588186/uk-airspace-policy-a-framework-for-balanced-decisions-on-the-design-and-use-of-airspace-web-version.pdf', 'UK airspace policy: a framework for balanced decisions on the design and use of airspace')], p26
              li#fn42
                a(href='#ref42')
                  span linkText
                  span 42
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid, p34
              li#fn43
                a(href='#ref43')
                  span linkText
                  span 43
                  include ../../icons/download.svg
                div.reference--text
                  p CAA, CAA Guidance on the Application of the Airspace Change Process, CAP 725, 15 March 2016, para 6; the AIP is the #[+link('https://www.caa.co.uk/Commercial-industry/Airspace/Communication-navigation-and-surveillance/Aeronautical-information/', 'UK Integrated Aeronautical Information Package')]
              li#fn44
                a(href='#ref44')
                  span linkText
                  span 44
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | For more on this, see: CAA,
                    em
                      span The Application of ICAO Airspace Classifications in UK
                      span Flight Information Regions
                    | , 13 November 20144
              li#fn45
                a(href='#ref45')
                  span linkText
                  span 45
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | A SID provides a specified Instrument Flight Rules (IFR) departure procedure that remains wholly within Controlled Airspace and permits connectivity with the en- route ATS route system; see: CAA,
                    em
                      span Policy and Guidance for the Design and
                      span Operation of Departure Procedures in UK Airspace
                    | , CAP 778, 1 November 2012
              li#fn46
                a(href='#ref46')
                  span linkText
                  span 46
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | As arriving aircraft begin their descent, they have to leave the Airway structure. At this point they join one of a series of STARs to their destination airport. Each airport has multiple STARs feeding their arrivals; see CAA,
                    em
                      span Description of Today&rsquo;s ATC Route
                      span Structure and Operational Techniques
                    | , CAP 1379, March 2016, pp10-12
              li#fn47
                a(href='#ref47')
                  span linkText
                  span 47
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | NPRs seek to reduce the noise impacts of departing aircraft by avoiding, as far as practicable, overflight of noise-sensitive areas in the vicinity of the aerodrome, for more see chapter 6 of op cit.,
                    em
                      span Policy and Guidance for the Design and Operation of
                      span Departure Procedures in UK Airspace
              li#fn48
                a(href='#ref48')
                  span linkText
                  span 48
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | This term is being phased out in the UK, for an explanation as to why, see ibid., para 1.3
              li#fn49
                a(href='#ref49')
                  span linkText
                  span 49
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | &lsquo;Significant&rsquo; is determined as a complete re-alignment or re-orientation of the hold or a lowering of the minimum holding altitude. Changes due to magnetic variation do not need to be addressed by means of an airspace change.
              li#fn50
                a(href='#ref50')
                  span linkText
                  span 50
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Op cit.,
                    em
                      span CAA Guidance on the Application of the Airspace Change Process
                    | , para 6
              li#fn51
                a(href='#ref51')
                  span linkText
                  span 51
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Op cit.,
                    em
                      span CAA Guidance on the Application of the Airspace Change Process
                    | , para 11
              li#fn52
                a(href='#ref52')
                  span linkText
                  span 52
                  include ../../icons/download.svg
                div.reference--text
                  p And the accompanying information pack: CAA, #[+link('http://publicapps.caa.co.uk/docs/33/CAP1465b%2520OCT.pdf', 'Airspace change process: Information pack')], CAP1465b, 28 October 2016
              li#fn53
                a(href='#ref53')
                  span linkText
                  span 53
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | In accordance with Annex D
              li#fn54
                a(href='#ref54')
                  span linkText
                  span 54
                  include ../../icons/download.svg
                div.reference--text
                  p Set out in the #[+link('https://www.gov.uk/government/publications/consultation-principles-guidance', 'Government&rsquo;s Consultation Principles')] updated January 2016] and para 37 of CAP 725
              li#fn55
                a(href='#ref55')
                  span linkText
                  span 55
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Op cit.,
                    em
                      span CAA Guidance on the Application of the Airspace Change Process
                    | , paras 30- 45
              li#fn56
                a(href='#ref56')
                  span linkText
                  span 56
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Helios for CAA,
                    em
                      | Independent review of the Civil Aviation Authority&apos;s Airspace Change
                      span Process
                    | , CAP 1356, 8 December 2015, executive summary
              li#fn57
                a(href='#ref57')
                  span linkText
                  span 57
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid., executive summary
              li#fn58
                a(href='#ref58')
                  span linkText
                  span 58
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | CAA,
                    em
                      span Consultation on amendments to the airspace change proposal process
                    | , CAP 1389, 15 March 2016
              li#fn59
                a(href='#ref59')
                  span linkText
                  span 59
                  include ../../icons/download.svg
                div.reference--text
                  p CAA, #[+link('http://publicapps.caa.co.uk/docs/33/CAP%25201465%2520OCT16.pdf', 'Outcome of the CAA consultation on proposals for a revised airspace change process')], CAP 1465, 21 October 2016, para 2.2
              li#fn60
                a(href='#ref60')
                  span linkText
                  span 60
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid., para 2.3
              li#fn61
                a(href='#ref61')
                  span linkText
                  span 61
                  include ../../icons/download.svg
                div.reference--text
                  p CAA, #[+link('https://consultations.caa.co.uk/policy-development/draft-airspace-design-guidance/', 'Draft airspace design guidance')], 31 March 2017
              li#fn62
                a(href='#ref62')
                  span linkText
                  span 62
                  include ../../icons/download.svg
                div.reference--text
                  p CAA, #[+link('https://publicapps.caa.co.uk/docs/33/CAP1616%2520Airspace%2520Design%2520interactive.pdf', 'Airspace Design: guidance on the regulatory process for changing airspace design including community engagement requirements')], CAP 1616, 13 December 2017
              li#fn63
                a(href='#ref63')
                  span linkText
                  span 63
                  include ../../icons/download.svg
                div.reference--text
                  p DfT, #[+link('https://www.gov.uk/government/publications/uk-air-navigation-guidance-2017', 'UK air navigation guidance 2017')], 24 October 2017
              li#fn64
                a(href='#ref64')
                  span linkText
                  span 64
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://publicapps.caa.co.uk/docs/33/CAP1616%2520Airspace%2520Design%2520interactive.pdf', 'Airspace Design: guidance on the regulatory process for changing airspace design including community engagement requirements')], pp138-9
              li#fn65
                a(href='#ref65')
                  span linkText
                  span 65
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid., para 142
              li#fn66
                a(href='#ref66')
                  span linkText
                  span 66
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid, paras C52-4
              li#fn67
                a(href='#ref67')
                  span linkText
                  span 67
                  include ../../icons/download.svg
                div.reference--text
                  p CAA, #[+link('http://www.caa.co.uk/Commercial-industry/Airspace/Airspace-change/Transitioning-to-the-new-airspace-change-process/', 'Transitioning to the new airspace change process')] [accessed 30 January 2018]
              li#fn68
                a(href='#ref68')
                  span linkText
                  span 68
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/publications/uk-air-navigation-guidance-2017', 'UK air navigation guidance 2017')], paras 6.10-11

  section
    .container
      h2 Related topics
      a.btn--grey(href='#') Airspace
      a.btn--grey(href='#') Transport
      a.btn--grey(href='#') Infrastructure
      a.btn--grey(href='#') Aviation
      a.btn--grey(href='#') Technology
      a.btn--grey(href='#') Heathrow Expansion
      a.btn--grey(href='#') Travel
      a.btn--grey(href='#') Defense and aerospace industry
      a.btn--grey(href='#') European Union

  section
    .container
      .block.theme--commons
        h2.beta House of Commons Library research CBP-7682
        p Written by Louise Butcher
