extends ../../layouts/layout_v5.pug

block navcrumb
  nav.navigation--breadcrumb(aria-label='breadcrumbs')
    .container
      ul
        li #[+link('#', 'Research')]
        li #[+link('/templates/briefings-v5/summary.html', 'Modernising UK airspace')]
        li.active
          span Airspace standards and regulation

block content

  .container
    .flex--2__2-1
      header
        h1 Airspace standards and regulation
    .article--wrapper
      article(tabindex=0)#content
        //- header
        //-   h1 Airspace standards and regulation

        div(role='main')
          p The current laws and policies on airspace are set by Government. It is guided in this by International and European standards and requirements.

          h3#international-civil-aviation-organization International Civil Aviation Organization
          p The UK is a member of International Civil Aviation Organization (ICAO). It provides a common regulatory framework for member states. They agree international standards, including the access to and use of airspace.
            a#ref11(href='#fn11')
              span [11]
          p International Standards and Recommended Practices, ICAO Annexes, contain the ICAO guiding principles. There are 18 Annexes and three Procedures for Air Navigation Services (PANS).
            a#ref12(href='#fn12')
              span [12]
          p ICAO ensures efficient and comprehensive air navigation services through planned initiatives. It uses practices contained in 2013-28 Global Air Navigation Plan and the Aviation System Blocks Upgrade (ASBU).
            a#ref13(href='#fn13')
              span [13]
            | This is a &quot;rolling 15-year strategic methodology which leverages existing technologies and anticipates future developments based on State/industry agreed operational objectives&rdquo;.
            a#ref14(href='#fn14')
              span [14]
          h3#examples-of-icao-policy-development Examples of ICAO policy development
          p The Balanced Approach lays down a common framework for managing aircraft noise. It consists of identifying the noise problem at an airport and looking at measures available to reduce noise. It does this by looking at four principal elements:
          ul
            li reduction of noise at source
            li land use planning and management
            li noise abatement operational procedures
            li operating restrictions).
              a#ref15(href='#fn15')
                span [15]
          p ICAO also developed the Performance-Based Navigation (PBN). These are performance requirements for aircraft that navigate on an ATS route, terminal procedure or in a designated airspace. Its aim is to move away from traditional, limited ground-based navigation aids to performance-based, non-sensor specific navigation. At the 2007 ICAO General Assembly, countries agreed to Resolution 36/23. This implements routes and airport procedures under ICAO PBN criteria.
            a#ref16(href='#fn16')
              span [16]

          h3#eurocontrol Eurocontrol
          p #[+link('lihttp://www.eurocontrol.int/articles/our-rolenk', 'Eurocontrol')] is the European Organisation for the Safety of Air Navigation. It is an intergovernmental organisation with 41 Members and 2 Comprehensive Agreement States. Its primary goal is the development of a pan-European ATM system. Eurocontrol helps its member states run safe, efficient and environmentally-friendly air traffic operations in Europe.
          p Eurocontrol was set up to be responsible for upper airspace in Europe. ICAO agreed the complete integration of air traffic services. Three international Air Traffic Control centres were set up to operate in the upper airspace. The Eurocontrol Convention was signed on 13 December 1960. It came into force on 1 March 1963 and amended in 1981 and 1997.
            a#ref17(href='#fn17')
              span [17]

          h3#uk-agreement-with-the-european-union UK agreement with the European Union
          p The European Commission (EC) is an international observer at ICAO. Since the end of 2005 the EC has had a permanent representative at the ICAO in Montreal. The European Union and the ICAO signed a Memorandum of Cooperation (MOC) on 4 May 2011. It agrees cooperation in the following areas:
          ul
            li aviation safety
            li aviation security
            li air traffic management
            li environmental protection
              a#ref18(href='#fn18')
                span [18]
          p European law implements many of ICAO&rsquo;s resolutions. These include the Balanced Approach and the adoption of Performance Based Navigation (PBN). There are also several pieces of environmental legislation such as the European Noise Directive.
            a#ref19(href='#fn19')
              span [19]

          h3#what-is-the-single-european-sky What is the Single European Sky?
          p In the past Airspace over Europe developed around state geographic borders and boundaries. This led to it being fragmented. The Transport Select Committee explained in a 2009 report:
          blockquote
            p International flights currently have to pass through national air traffic zones or &ldquo;blocks&rdquo;, before being handed over from one national authority to another. For example, passenger aircraft travelling between Brussels and Rome must pass through nine different air traffic control zones. This system leads to bottlenecks and delays, forcing aircraft to consume more fuel and jeopardising safety. As a consequence, flights in Europe are on average 49 kilometres longer than needed. The European Commission estimates that the fragmentation of Europe&apos;s airspace costs &euro;1 billion each year and that shorter, direct routes could save five million tonnes of CO&#x2082; annually.
              a#ref20(href='#fn20')
                span [20]
          p European Commission (EC) tackled this by introducing the #[+link('https://ec.europa.eu/transport/modes/air/single_european_sky/ses_2_en', 'Single European Sky')] (SES) initiative in 1999
          p The #[+link('https://ec.europa.eu/transport/modes/air/sesar_en', 'Single European Sky ATM Research Programme')] (SESAR) is a venture between the European Commission, Eurocontrol and the aviation industry. It aims to develop a new generation air traffic management system. It wants to ensure the safety and fluidity of air transport worldwide over the next 30 years.
            a#ref21(href='#fn21')
              span [21]
          p SES aims to modernise air navigation services by improving airspace design and the use of new technology. The main goals are:
          ul
            li to restructure European airspace
            li create additional capacity
            li
              | increase the efficiency of the ATM system.
              a#ref22(href='#fn22')
                span [22]
          p Shorter flight paths and fewer delays should lead to reduced flight times. This in turn should lead to reduced flight costs and aircraft emissions.
            a#ref23(href='#fn23')
              span [23]
          p The EC adopted SES in 2004, bringing ATM under the EU Common Transport Policy. It sets common rules for international transport through, to and from countries in the EU.
            a#ref24(href='#fn24')
              span [24]
            | It intends to create an integrated ATM system by 2020. A system designed, managed and regulated to maintain European Aviation for the next 30 to 40 years.
          p The EC adopted a second package, the Single European Sky II (SES II) in 2009. It is not likely to be put in place until 2030-35.
            a#ref25(href='#fn25')
              span [25]
          p The Commission further updated the SES Regulations in 2013. Named the SES II+ initiative, it adds to changes brought in by the 2009 SES II package. It also updates other aspects to take account of technical progress.
            a#ref26(href='#fn26')
              span [26]
          p SES II introduced:
          ul
            li a comprehensive, EU-wide Performance Scheme
            li Functional Airspace Blocks which are about service provision and not airspace alone
            li a Network Manager to co-ordinate certain actions at network level
          p It also:
          ul
            li extended the role of the European Aviation Safety Agency (EASA) to air traffic management
            li shifted rule-making support for technical implementing rules
            li moved oversight of member states from Eurocontrol to the European Aviation Safety Agency (EASA)
              a#ref27(href='#fn27')
                span [27]

          h3#functional-airspace-blocks-fabs Functional Airspace Blocks (FABS)
          p SES II also created Functional Airspace Blocks (FABs). FABs are initiatives led by EU Member States. They must be set up by 2012. Their aim was to improve cooperation between ANSPs and national supervisory authorities. This allowed them to gain operational efficiency. Strategies included common procurement and training, and optimisation of air traffic controllers&rsquo; resources.
          p Under SES II+, FABS became more flexible, industry-led and focused on performance. The Commission said it would &ldquo;not try to micromanage the FABs, but rather lets the industry and States devise their own solutions&quot;. That is as long as performance targets were met.
            a#ref28(href='#fn28')
              span [28]

          h3#cooperation-between-uk-and-ireland Cooperation between UK and Ireland
          p The UK and Ireland were the first countries to establish an operational FAB in 2008. Around 90% of North Atlantic air traffic passes through the UK-Ireland FAB. NATS explains its benefits:
          blockquote
            p In the first four years of operation it delivered over &euro;70m of enabled savings to customers, including 232,000 tonnes of CO2 and 73,000 tonnes of fuel. Major projects have included the first-ever operational trial of cross-border dynamic sectorisation &ndash; the tactical switching of air traffic services between providers and a world-first operational trial of cross-border arrival management procedures, slowing down aircraft across borders in order to reduce the time they are required to spend in airport holding stacks.
              a#ref29(href='#fn29')
                span [29]
          p While SES has wide support it has not been without its problems and delivery has been slow. The EC reported in December 2015 that the European ATM sector:
          ul
            li remains fragmented
            li the costs of its services are comparatively high (the unit cost of air navigation services is particularly high)
            li &ldquo;FAB operational objectives have not been achieved regarding the optimisation of airspace and resources, which in turn generates inefficiencies in the entire European air traffic management system and extra costs of close to &euro;5 billion a year&rdquo;.
              a#ref30(href='#fn30')
                span [30]

          h3#the-impact-of-brexit The impact of Brexit
          p Much of the legal framework for airspace derives from international institutions. This includes the European Union. On 23 June 2016 the United Kingdom voted to leave the EU. The Government states in its 2017 consultation on future airspace strategy, that:
          blockquote
            p Until exit negotiations are concluded, the UK remains a full member of the European Union and all the rights and obligations of EU membership remain in force. During this period the Government will continue to negotiate, implement and apply EU legislation.
              a#ref31(href='#fn31')
                span [31]
          p Chief Executive of the CAA, Andrew Haines, discussed the UK&rsquo;s future relationship with EASA in a speech on 1 December 2016. He highlighted the fact that the UK and France provide two thirds of all the rule-making input on European Safety Regulation. Together they manage close to 90% of EASA&rsquo;s outsourced activities. He also said that post-Brexit the UK can &rdquo;continue to play a very active role in ICAO &ndash; indeed strengthening but it is not a substitute for European engagement&rdquo;.
            a#ref32(href='#fn32')
              span [32]
          h3#domestic-air-traffic Domestic air traffic
          p The UK Government, through the Department for Transport, sets the policy framework for aviation in the UK. Its main airspace role relates to the setting of guidance and directions for the CAA. It does not determine specific airspace arrangements. Nor does it decide on particular flight paths or procedures at individual airports.
            a#ref33(href='#fn33')
              span [33]
          p The government does, however:
          ul
            li approve noise related operating restrictions for Nationally Significant Infrastructure Projects (NSIPs)
              a#ref34(href='#fn34')
                span [34]
            li assess called-in airspace change proposals, and makes decisions to accept or reject them
            li approve Noise Action Plans
              a#ref35(href='#fn35')
                span [35]

          h3#scotland-and-northern-ireland Scotland and Northern Ireland
          p Aviation and airspace matters are generally settled by UK government. Issues connected to airspace, like noise management and monitoring are devolved.
          p The Government states in its 2017 consultation on future airspace strategy, that:
          blockquote
            p While noise policy for aerodromes is a devolved matter in relation to Scotland and Northern Ireland and planning is generally a devolved matter, noise policies proposed in this document, which are based on the Noise Policy Statement for England, shall apply where they are relevant to reserved airspace matters, such as the consideration of noise in airspace changes.
            p &mldr; Some of our proposals relate to how noise is managed at individual airports and use of the Government&rsquo;s powers to set noise controls at airports, as well as controls set through the planning system. As these powers are devolved in relation to Scotland and Northern Ireland and the planning system is also generally devolved, specific proposals &mldr; will be for the Devolved Administrations to formulate policy on.
              a#ref36(href='#fn36')
                span [36]

          h3#the-civil-aviation-authority The Civil Aviation Authority
          p The Transport Act 2000 (section 66) sets out the duties of the Civil Aviation Authority (CAA) to:
          blockquote
            p develop, promulgate, monitor and enforce a policy for the sustainable use of UK airspace and for the provision of necessary supporting infrastructure for air navigation
              a#ref37(href='#fn37')
                span [37]
          p The CAA is the national airspace approval and regulatory authority. It manages airspace planning in the UK. The 2000 Transport Act requires it to prioritise a high safety standard in the provision of air traffic services (Section 70[1]). Although this duty overrides the other duties it must consider many other material factors. One of which is securing the most efficient use of airspace is one. The CAA has set out how it balances these material factors in a decision-making framework.
            a#ref38(href='#fn38')
              span [38]
          p The CAA approves the overall layout of the published airspace structure and any proposed changes to it. It does this in the context of legal requirements. These include safety, the environment and the needs of the consumers of aviation services. For example, changes might be needed to enable UK airspace to accommodate more flights. To incorporate new technology or allow aircraft to fly more direct routes or to keep them away from particular areas.
            a#ref39(href='#fn39')
              span [39]
          p The CAA must take account of any guidance on environmental objectives given to it by the Secretary of State (2000 Transport Act section 70 [2]).
          p The current guidance was published in January 2014. It takes into account policy and technical developments. It clarifies the Government&rsquo;s environmental objectives relating to air navigation. It sets out aims for:
          ul
            li improving efficiency in airspace
            li mitigating the environmental impact of aviation noise (including the altitude based priorities)
            li reiterates the need to consult local communities on airspace changes at airports.
              a#ref40(href='#fn40')
                span [40]
          p The Government has published new draft guidance. This was alongside its 2017 consultation on future airspace policy.


      aside
        p Part of #[+link('/templates/briefings-v5/summary.html', 'Modernising UK airspace')]
        .block
          nav.navigation--related
            ul
              li
                +link('/templates/briefings-v5/section.1.html', 'An introduction to airspace')
              li
                +link('/templates/briefings-v5/section.2.html', 'Airspace management')
              li.active
                | Airspace standards and regulation
              li
                +link('/templates/briefings-v5/section.4.html', 'Planning airspace change')
              li
                +link('/templates/briefings-v5/section.5.html', 'Airspace modernisation')
              li
                +link('/templates/briefings-v5/section.6.html', 'Policy progress and modernisation')

  div
    .container
      .block--border__bottom
        .flex--2__2-1
          nav.navigation--article
            ul.list--2
              li
                a(href='/templates/briefings-v5/section.2.html')
                  span.link-direction(aria-hidden='true') &lt; Previous
                  span.link-title Airspace management
              li
                a(href='/templates/briefings-v5/section.4.html')
                  span.link-direction(aria-hidden='true') Next &gt;
                  span.link-title Planning airspace change

        ul.list--inline
          li.visually-hidden(aria-hidden='true')
            .list--details
              include ../../icons/print.svg
              +link('#', 'Print this page').btn--print

  section
    .container
      .block--border__bottom
        .flex--2__2-1
          .footnotes
            h2 References
            ol
              li#fn11
                a(href='#ref11')
                  span linkText
                  span 11
                  include ../../icons/download.svg
                div.reference--text
                  p ICAO) is a UN specialised agency, established in 1944 to manage the administration and governance of the Convention on International Civil Aviation (Chicago Convention); see: ICAO, #[+link('http://www.icao.int/about-icao/Pages/default.aspx', 'About ICAO')] [accessed 14 March 2017]
              li#fn12
                a(href='#ref12')
                  span linkText
                  span 12
                  include ../../icons/download.svg
                div.reference--text
                  p ICAO, #[+link('http://www.icao.int/safety/airnavigation/nationalitymarks/annexes_booklet_en.pdf', 'Convention on International Civil Aviation, Annexes 1 to 18')] [accessed 14 March 2017];
                    em
                      | PANS-OPS, (Doc 8168), Procedures for Air Navigation Services &mdash; Aircraft Operations
                    | (two vols.) and
                    em PANS-TRG, (Doc 9868), Procedures for Air Navigation Services &mdash; Training
                    | both available from ICAO
              li#fn13
                a(href='#ref13')
                  span linkText
                  span 13
                  include ../../icons/download.svg
                div.reference--text
                  p ICAO, #[+link('http://www.icao.int/Meetings/a38/Documents/GANP_en.pdf', '2013&ndash;2028 Global Air Navigation Plan')], Doc 9750&dash;AN/963, 4th ed., 2013
              li#fn14
                a(href='#ref14')
                  span linkText
                  span 14
                  include ../../icons/download.svg
                div.reference--text
                  p ICAO, #[+link('http://www.icao.int/airnavigation/Documents/ICAO_AN%25202016_final_19July.pdf', 'Air Navigation Report')], 2016 ed., 19 July 2016, p2
              li#fn15
                a(href='#ref15')
                  span linkText
                  span 15
                  include ../../icons/download.svg
                div.reference--text
                  p ICAO, #[+link('http://www.icao.int/environmental-protection/Pages/noise.aspx', 'Aircraft Noise')] [accessed 14 March 2017]
              li#fn16
                a(href='#ref16')
                  span linkText
                  span 16
                  include ../../icons/download.svg
                div.reference--text
                  p ICAO, #[+link('http://www.icao.int/safety/pbn/Pages/Overview.aspx', 'Performance Based Navigation &ndash; Overview')] [accessed 14 March 2017]
              li#fn17
                a(href='#ref17')
                  span linkText
                  span 17
                  include ../../icons/download.svg
                div.reference--text
                  p Eurocontrol, #[+link('http://www.eurocontrol.int/articles/1960-%25E2%2580%2593-1970-building-foundations', '1960 &ndash; 1970: Building the foundations')] [accessed 16 March 2017]
              li#fn18
                a(href='#ref18')
                  span linkText
                  span 18
                  include ../../icons/download.svg
                div.reference--text
                  p EC, #[+link('https://ec.europa.eu/transport/modes/air/single_european_sky/co-operation_icao_en', 'Co-operation with ICAO')] [accessed 14 March 2017]
              li#fn19
                a(href='#ref19')
                  span linkText
                  span 19
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/588186/uk-airspace-policy-a-framework-for-balanced-decisions-on-the-design-and-use-of-airspace-web-version.pdf', 'UK airspace policy: a framework for balanced decisions on the design and use')], p72
              li#fn20
                a(href='#ref20')
                  span linkText
                  span 20
                  include ../../icons/download.svg
                div.reference--text
                  p Transport Committee, #[+link('https://www.publications.parliament.uk/pa/cm200809/cmselect/cmtran/163/163.pdf', 'The use of air space')] (Fifth Report of Session 2008&ndash;09), HC 163, 10 July 2009, para 73
              li#fn21
                a(href='#ref21')
                  span linkText
                  span 21
                  include ../../icons/download.svg
                div.reference--text
                  p Eurocontrol, #[+link('http://www.eurocontrol.int/faq/corporate', 'Frequently Asked Questions (FAQ)')] [accessed 16 March 2017]
              li#fn22
                a(href='#ref22')
                  span linkText
                  span 22
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/588186/uk-airspace-policy-a-framework-for-balanced-decisions-on-the-design-and-use-of-airspace-web-version.pdf', 'UK airspace policy: a framework for balanced decisions on the design and use of airspace')], p72
              li#fn23
                a(href='#ref23')
                  span linkText
                  span 23
                  include ../../icons/download.svg
                div.reference--text
                  p European Parliament, #[+link('http://www.europarl.europa.eu/atyourservice/en/displayFtu.html?ftuId=FTU_5.6.9.html', 'Air transport: Single European Sky')], December 2016
              li#fn24
                a(href='#ref24')
                  span linkText
                  span 24
                  include ../../icons/download.svg
                div.reference--text
                  p For more information on the CTP, see: European Parliament, #[+link('http://www.europarl.europa.eu/atyourservice/en/displayFtu.html?ftuId=FTU_5.6.1.html', 'Common transport  policy: overview')], October 2016
              li#fn25
                a(href='#ref25')
                  span linkText
                  span 25
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('http://www.europarl.europa.eu/atyourservice/en/displayFtu.html?ftuId=FTU_5.6.9.html', 'Air transport: Single European Sky')]
              li#fn26
                a(href='#ref26')
                  span linkText
                  span 26
                  include ../../icons/download.svg
                div.reference--text
                  p EC, #[+link('http://ec.europa.eu/transport/modes/air/single_european_sky/ses_2_en', 'Single European Sky II')] ccessed 16 March 2017]
              li#fn27
                a(href='#ref27')
                  span linkText
                  span 27
                  include ../../icons/download.svg
                div.reference--text
                  p EASA develops common safety and environmental rules at the European level. It monitors the implementation of standards through inspections in the Member States and provides the necessary technical expertise, training and research; see: EASA, #[+link('https://www.easa.europa.eu/the-agency/faqs/agency', 'About EASA')] [accessed 16 March 2017]
              li#fn28
                a(href='#ref28')
                  span linkText
                  span 28
                  include ../../icons/download.svg
                div.reference--text
                  p EC, #[+link('http://ec.europa.eu/transport/modes/air/single_european_sky/ses_2_en', 'Single European Sky II')] accessed 16 March 2017]
              li#fn29
                a(href='#ref29')
                  span linkText
                  span 29
                  include ../../icons/download.svg
                div.reference--text
                  p NATS, #[+link('http://www.nats.aero/about-us/ses/uk-ireland-fab/', 'UK-Ireland FAB')] accessed 16 March 2017]
              li#fn30
                a(href='#ref30')
                  span linkText
                  span 30
                  include ../../icons/download.svg
                div.reference--text
                  p EC, #[+link('https://ec.europa.eu/transparency/regdoc/rep/1/2015/EN/1-2015-663-EN-F1-1.PDF', 'Report&mldr; on the implementation and progress of the Single European Sky during the 2012-2014 Period')], COM(2015) 663 final, 16 December 2015, pp3-4
              li#fn31
                a(href='#ref31')
                  span linkText
                  span 31
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/588186/uk-airspace-policy-a-framework-for-balanced-decisions-on-the-design-and-use-of-airspace-web-version.pdf', 'UK airspace policy: a framework for balanced decisions on the design and use of airspace')], p15
              li#fn32
                a(href='#ref32')
                  span linkText
                  span 32
                  include ../../icons/download.svg
                div.reference--text
                  p CAA, #[+link('http://www.caa.co.uk/uploadedFiles/CAA/Content/News/Speeches_files/GADspeech_AndrewHaines_011216.pdf', 'The future of open skies post-Brexit')], 1 December 2016
              li#fn33
                a(href='#ref33')
                  span linkText
                  span 33
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/588186/uk-airspace-policy-a-framework-for-balanced-decisions-on-the-design-and-use-of-airspace-web-version.pdf', 'UK airspace policy: a framework for balanced decisions on the design and use of airspace')],  p12
              li#fn34
                a(href='#ref34')
                  span linkText
                  span 34
                  include ../../icons/download.svg
                div.reference--text
                  p NSIPs are large scale developments (relating to energy, transport, water, or waste) which require a type of consent known as &lsquo;development consent&rsquo;; for more information see HC Library briefing paper #[+link('http://researchbriefings.parliament.uk/ResearchBriefing/Summary/SN06881', 'SN6881')]
              li#fn35
                a(href='#ref35')
                  span linkText
                  span 35
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/588186/uk-airspace-policy-a-framework-for-balanced-decisions-on-the-design-and-use-of-airspace-web-version.pdf', 'UK airspace policy: a framework for balanced decisions on the design and use of airspace')], p69
              li#fn36
                a(href='#ref36')
                  span linkText
                  span 36
                  include ../../icons/download.svg
                div.reference--text
                  p Op cit., #[+link('https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/588186/uk-airspace-policy-a-framework-for-balanced-decisions-on-the-design-and-use-of-airspace-web-version.pdf', 'UK airspace policy: a framework for balanced decisions on the design and use of airspace')], p15
              li#fn37
                a(href='#ref37')
                  span linkText
                  span 37
                  include ../../icons/download.svg
                div.reference--text
                  p CAA, #[+link('https://www.caa.co.uk/WorkArea/DownloadAsset.aspx?id=4294972749', 'DAP Guidance: CAA Air Navigation Directions 2001')], 4 December 2007, p1
              li#fn38
                a(href='#ref38')
                  span linkText
                  span 38
                  include ../../icons/download.svg
                div.reference--text
                  p CAA, #[+link('http://publicapps.caa.co.uk/docs/33/CAP%25201389%2520March%25202016.pdf', 'Consultation on proposals for a revised airspace change process')], CAP 1389, 15 March 2016, para 6.5
              li#fn39
                a(href='#ref39')
                  span linkText
                  span 39
                  include ../../icons/download.svg
                div.reference--text
                  p
                    | Ibid., para 2.4
              li#fn40
                a(href='#ref40')
                  span linkText
                  span 40
                  include ../../icons/download.svg
                div.reference--text
                  p DfT, Guidance to the Civil Aviation Authority on environmental objectives relating to the exercise of its air navigation functions 8 January 2014; following consultation, see: DfT, #[+link('https://www.gov.uk/government/consultations/air-navigation-guidance-for-the-civil-aviation-authority', 'Consultation on &apos;Guidance to the civil aviation authority on environmental objectives relating to the exercise of its air navigation functions&apos;')], 25 June 2013

  section
    .container
      h2 Related topics
      a.btn--grey(href='#') Airspace
      a.btn--grey(href='#') Transport
      a.btn--grey(href='#') Infrastructure
      a.btn--grey(href='#') Aviation
      a.btn--grey(href='#') Technology
      a.btn--grey(href='#') Heathrow Expansion
      a.btn--grey(href='#') Travel
      a.btn--grey(href='#') Defense and aerospace industry
      a.btn--grey(href='#') European Union

  section
    .container
      .block.theme--commons
        h2.beta House of Commons Library research CBP-7682
        p Written by Louise Butcher
