extends ../../layouts/layout.pug

block content
  .version--one.gateway--type

    .section--primary.theme--purple--light
      .container
        h1 Briefings
        p.lead Impartial information and analysis about a topic or event.

        +form('javascript:console.log("briefings search submitted")', 'post')(class='briefingSearch')
          .input-group
            +input('text', 'Search for a briefing, collection or topic', 'briefing', 'briefingSearch')(maxlength='1000', pattern='^(?!.*<script|<Script).*$')
            +select('Select a search filter', 'filterID', 'filterName')
              +option('on any date')
            //- button [value, style, type, datatype]
            +button('Search', 'btn--primary', 'submit', 'search')


    section
      .container
        h2 Most recent
        ul.list--tab
          li.active Briefings
          li #[+link('#', 'Topics')]
        p
          strong This week
          | 18 - 24 Dec
        .article--inline
          article
            .feature--img
              a(href='#')
                img(src='../../../images/brandon-griggs-82205.jpg' alt='')
            .head
              h3
                a(href='#') Junk food briefing
              p December 8th 2017
              p
                strong 15 minute read
            .content
              p An introduction to the impact of junk food advertising on childhood obesity rates in England and Wales.
          article
            .feature--img
              a(href='#')
                img(src='../../../images/brandon-griggs-82205.jpg' alt='')
            .head
              h3
                a(href='#') The Housing Market
              p December 8th 2017
              p
                strong 15 minute read
            .content
              p Analysis of the UKs housing market, the challenges it faces, and what government could do to help it function better.
          article
            .feature--img
              a(href='#')
                img(src='../../../images/brandon-griggs-82205.jpg' alt='')
            .head
              h3
                a(href='#') Animal sentience and brexit
              p December 8th 2017
              p
                strong 15 minute read
            .content
              p Analysis of changes to animal sentience legislation following the UKs departure from the EU in 2019.

        p
          strong Last week
          | 18 - 24 Dec
        .article--inline
          article
            .feature--img
              a(href='#')
                img(src='../../../images/brandon-griggs-82205.jpg' alt='')
            .head
              h3
                a(href='#') Donald Trump: the nuclear question
              p December 8th 2017
              p
                strong 15 minute read
            .content
              p Information and analysis of the USA’s 2017 review of nuclear capability and strategy following the election of Donald Trump.
          article
            .feature--img
              a(href='#')
                img(src='../../../images/brandon-griggs-82205.jpg' alt='')
            .head
              h3
                a(href='#') Mental health services for students
              p December 8th 2017
              p
                strong 15 minute read
            .content
              p Background on the different types of mental health services available for students between 13 and 18 in the UK.
